In [2]:
this_tuple = ('Chocolate', 'Vanilla', 'Mint', 'Strawberry', 'Choc-Chip')
print(this_tuple)

('Chocolate', 'Vanilla', 'Mint', 'Strawberry', 'Choc-Chip')

In [3]:
this_tuple = ("apple", "banana", "cherry", "apple", "cherry")
print(this_tuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [4]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [7]:
# One item tuple, remember the comma:
thistuple = ("apple",)
print(type(thistuple))

<class 'tuple'>

In [8]:
#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'str'>

In [9]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [10]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [11]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [12]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [13]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [14]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [16]:
x = ("apple", "banana", "cherry")
y = list(x) #convert tuple to a list
print(y)

['apple', 'banana', 'cherry']

In [17]:
y[1] = 'kiwi'

In [18]:
print(y)

['apple', 'kiwi', 'cherry']

In [19]:
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [20]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [21]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [22]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

In [23]:
print(thistuple)

('banana', 'cherry')

In [24]:
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

In [25]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [26]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')